/* Utils */

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 14px;
}


.btn {
    font-weight: 500;
    font-size: 1rem;
    padding: 0.75rem;
    border-radius: 5px;
    color: var(--text-main);

    background: var(--secondary-color-btn);
    border: none;
}


